@import "tailwindcss";

@theme inline {
  --font-oswald: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body { 
  background-color: #050505; 
  color: #f5f2ea; 
}
